{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <div class="col">
            <h1>Welcome to your models served by <a href="https://www.foxcross.dev">Foxcross</a></h1>
        </div>
    </div>
    <ul>
        {% for route in routes %}
            {% if route.path != "/" %}
                <li>
                    <a href=".{{ route.path }}">{{ route.path | replace("/", "") }}</a>
                    <ul>
                        {% for method in route.methods %}
                            <li>{{ method }}</li>
                        {% endfor %}
                    </ul>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endblock content %}